.container {
    width: 340px;
    height: 500px;
    box-shadow: 3px 5px 55px 6px gray;
    background-color: bisque;
    margin: auto;
  }

  .title{
    font-size: 24px;
    font-weight: bold;
  }

  a{
    color: darkolivegreen;
  }
  .miniContainer{
    padding: 10px 15px;
  }
  .text{
    margin: 20px 0px;
  }


