
body {
    background-color:rgb(186, 241, 186)
}

header{
    
    display: flex;
    align-items: left ;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #333;
   
    
    
  }
  
  .navbar{
    
    padding-left: 40px;
    font-size: 30px;
    position: sticky;
     
  }
  
  .navbar a{
    float: left;;
    text-decoration: none;
    color: #fff;
    margin: 10px 10px;
    background-color: darkcyan;
    padding: 10px 10px;
    border-radius: 10px;
    
   
  }
  
  .navbar a:hover{
    background-color: darkgreen;
  }
  .header{
    color: #c10909;
    size: 100px;
    background-color: #22B14C;
    width: 250px;
    margin: auto;
  }


.Div1{
    text-align:center;
    font-size: 50px;
    background-color: rgb(91, 168, 240);
    color: white;
    border: 2px solid black;
    width: 25%;    
}
.Div2{
    padding-bottom: 5px;
    margin-top: 10px;
    text-align:left;
    font-size: 24px;
    background-color: rgb(91, 168, 240);
    color: white;
    border: 2px solid black;
    width: 30%;
}

